body {
  background-color: #DFE0E2;
}

* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login-title {

  .fa-leaf {
    color: #69AA46;
  }

  h1 {
    font-size: 32px;
  }

  .red {
    color: #DD5A43;
    margin: 0 8px;
  }

  .grey {
    color: #777;
  }

  .blue {
    font-size: 18px;
    color: #478FCA;
  }

}

#login-form {
 
}



